#b2bking_importer_ext {
    margin: 50px;
    padding: 20px;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 17%);
    border-radius: 5px;
}

form .form_control {
    margin: 20px 0;
}

form .form_control select {
    margin-top: 5px;
}

.b2bking-btn-success {
    background-color: #639c1e !important;
    border-color: #639c1e !important;
    color: white !important;
}

.g28b2bking-row {
    border-top: 1px solid #8B8B8B;
    padding-bottom: 20px;
}

.g28b2bking-row-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.g28b2bking-row-content div {
    padding: 0 1.5em;
}

.g28b2bking-row-content .text {
    color: #3d698e;
}

.g28b2bking-row-content .warning {
    color: #c50c0c;
}

.g28b2bking-row-content .text-faixa {
    color: #e55f25;
}

.g28b2bking-row-content .text-preco {
    color: #105B2F;
}

#btnImportAction {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#messageImport {
    margin-top: 30px;
    padding: 1rem;
}
